* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Rubik', sans-serif;
}

/** base html CSS **/

body {
    width: 100%;
    height: 100%;
    background-color: rgb(180,190,245);
    display: block;
    cursor: pointer;
    padding: 20px;
}

.container {
    width: 100%;
    height: auto;
    border: 2px solid #f2f;
}

.content {
    display: block;
    padding: 2px;
    text-decoration: none;
    border: 3px solid green;
    background-color: #077;
}

.content h3 {
    border: solid #525;
    padding: 3px;
    font-size: 1.6rem;
    background-color: silver;
    text-align: center;
    animation: aega 2s linear infinite;
    animation-direction: alternate;
}

@keyframes aega{
    from{ padding-left: 80px; }
    to{ padding-right: 80px;}
    0%   {background-color:red; left:100px; top:100px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:pink; left:0px; top:200px;}
    100% {background-color:violet; left:0px; top:0px;}
}

.content h3:hover:not(.active) {
  background-color: #555;
  color: brown;
}

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

/** base html CSS end **/

/** contact_list html CSS **/

.table{
    padding: 5px;
    margin: 4px;
    display: block;
}

a {
    text-decoration: none;
}

p {
    color: white;
    position: relative;
}

th {
    border: 2px outset brown;
    background-color: brown;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    position: sticky;
}

th:nth-child(1) {
    width: 200px;
}

th:nth-child(3) {
    width: 200px;
}

th:nth-child(4) {
    width: 200px;
}

th:nth-child(5) {
    width: 300px;
}

th:nth-child(6) {
    width: 200px;
}

th:nth-child(7) {
    width: 300px;
}

td: {
    font-size: 1rem;
}

td:first-child {
    border: 2px outset green;
    background-color: green;
    color: white;
    font-family: fantasy;
    font-size: 1.2rem;
    padding-left: 10px;
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button a {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

}

.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
  padding-right: 25px;
}

.button:hover a:after {
  opacity: 1;
  right: 0;
}