<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Contact
        {% endblock %}
    </title>
</head>
<body>
    <div class="container">
        <div class="content">
            <h3 class="text-primary">Contact Us</h3>
            <hr style="border-top:1px dotted #ccc"/>
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>