{% extends 'base.html' %}

{% block head %}
    {% load static %}
    {% block title %}
    {% endblock %}
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="header">
            <a href="{% url 'add' %}" class="btn btn-primary btn-xs pull-right">&nbsp;<b>&nbsp; + &nbsp;</b>Add New Person &nbsp;
            </a>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for person in peoples %}
            <tr>
                <td>{{person.name}}</td>
                <td>{{person.email}}</td>
                <td>{{person.contact}}</td>
                <td>{{person.country.name}}</td>
                <td>{{person.state.name}}</td>
                <td>{{person.city.name}}</td>
                <td>
                    <button class="button"><a href="">Delete</a></button>
                    <button class="button"><a href="{% url 'person_change' person.pk %}">Edit</a></button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No of Person in the Table <a href="{% url 'add' %}">Add the first person</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}